<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
			<deny users="?" />
			<deny roles="Inicio" />
			<allow roles="Documentos" />
			<allow roles="Administrador" />
			<deny roles="Consultas" />			
			<deny roles="Reportes" />
			<deny roles="WorkFlow" />
			<deny roles="Imagenes" />
			<deny users="*" />
        </authorization>
    </system.web>
</configuration>