<?xml version="1.0" encoding="UTF-8"?>
<!--
Note: As an alternative to hand editing this file you can use the
web admin tool to configure settings for your application. Use
the Website->Asp.Net Configuration option in Visual Studio.
A full list of settings and comments can be found in
machine.config.comments usually located in
\Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
		<section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Autor: Anderson Ardila -->
		<!-- Fecha: 10 Marzo 2010 -->
		<!-- Observación: Parametro donde se define la BD para AlfaNet -->
		<add key="BaseDatos" value="SqlServer" />
		<add key="LogoDocs" value="http://localhost/AlfanetPruebas/AlfaNetImagen/Logo/Logo.jpg" />
		<!-- <add key="BaseDatos" value="Oracle"/> -->
		<!-- Fin  Anderson Ardila -->
		<add key="ImageDraw40LicenseOwner" value="Archivar Ltda-Developer License" />
		<add key="ImageDraw40LicenseKey" value="VJSCNGY78NPE22XJUF44HZJHS84Y29BZW7UB24JWDENH5E9GXWFQ" />
		<add key="WebServiceAlfaBDU.FuncionalidadServicioImplementacion" value="http://172.23.24.171:8003/InteropAlfaBDU/" />
		<add key="co.com.inversora.www.Service" value="http://www.inversora.com.co/WSSecurity/Service.asmx" />
		<add key="zeus.ZaffiroIntegrator" value="http://zeus/ZaffiroIntegrator/ZaffiroIntegrator.asmx" />
		<add key="RutaNotificaciones" value="D:\01 APPAlfanet\01. Aplicacion\Alfanet2\Alfanet_v2.0\WebApplication1\RadicacionMasiva\" />
		<add key="repositoriofacturas" value="D:\01 APPAlfanet\01. Aplicacion\Alfanet2\RepositorioFacturasPruebas\" />
		<add key="UrlRadicacionMasiaSite" value="http://localhost/RadicacionMasiaSitePruebas/RadicacionMasiva/RadicacionMasiva.aspx?dep=" />
		<add key="UrlConsultaRadicacionMasia" value="http:/localhost/RadicacionMasivaSitePruebas/RadicacionMasiva/ConsultaRadicacionMasiva.aspx?dep=" />
		<add key="UrlInventarioImportarDatos" value="http://localhost/InventariosPruebas/ImportarDatos.aspx?dep=" />
		<add key="UrlCargarUnidad" value="http://localhost/InventariosPruebas/CargarUnidad.aspx?dep=" />
		<add key="UrlActualizarUnidad" value="http://localhost/InventariosPruebas/ActualizarUnidad.aspx?dep=" />
		<add key="UrlConsultaUnidad" value="http://localhost/InventariosPruebas/ConsultaUnidad.aspx?dep=" />
		<add key="CommandTimeOut" value="500" />
		<add key="RutaRepositorio" value="D:\01 APPAlfanet\01. Aplicacion\Alfanet2\AlfanetPruebas2\AlfaNetRepositorioImagenes\Registros\" />
		<add key="EmailFrom" value="alfanetpruebas@gmail.com" />
		<add key="EmailPass" value="gujjqkjimwglgdfa" />
		<add key="UrlInicio" value="http://localhost/AlfanetPruebas/AlfaNetInicio/InicioLogin/LoginIniciar.aspx" />
	</appSettings>
	<connectionStrings>
		<!-- <add name="ConnStrSQLServer" connectionString="Data Source=TM501032001;Initial Catalog=AlfaNet;User=sa;Password=Mutual2012$" providerName="System.Data.SqlClient" /> -->
		<!-- <add name="ConnStrSQLServer" connectionString="Data Source=192.168.211.197;Initial Catalog=Alfanet_Pruebas;User=archivar;Password=Bogota2020$$" providerName="System.Data.SqlClient" /> -->
		<add connectionString="Data Source=DESKTOP-FE1GHDL;Initial Catalog=AlfanetPruebas; User Id=sa;Password=1010" name="ConnStrSQLServer" providerName="System.Data.SqlClient" />
    	<add connectionString="Data Source=DESKTOP-FE1GHDL;Initial Catalog=AlfanetPruebas; User Id=sa;Password=1010" name="conexion" providerName="System.Data.SqlClient" /> <!-- conexion para plantilla enviados -->
		<!-- <add name="ADConnectionString" connectionString="LDAP://192.168.202.42/OU=Mutual Ser,DC=mutualser,DC=org" /> -->
		<add connectionString="Data Source=DESKTOP-FE1GHDL;Initial Catalog=LogsAlfanet_Pruebas; User Id=sa;Password=1010" name="ConnLog" providerName="System.Data.SqlClient" />
		<!--
		<add name="AlfaWebProcedenciasConnectionString" connectionString="Data Source=ALFAWEB;Initial Catalog=AlfaNetPruebas;Initial Catalog=AlfaNet;Integrated Security=True"
		providerName="System.Data.SqlClient" />
		-->
		<!-- <add connectionStringName="ConnStrSQLServer" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" -->
		<!-- requiresQuestionAndAnswer="False" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="3" -->
		<!-- minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" -->
		<!-- passwordStrengthRegularExpression="^(?=-*\d)(?=.*[a-z])(?=.*[A-Z]).{5,30}$" name="AspNetSqlMembershipProvider" -->
		<!-- type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /> -->
	</connectionStrings>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="./AlfaNetLogs/AlfaNet" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<StaticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %logger %identity %method - %message%newline" />
			</layout>
		</appender>
		<!--
		<appender name="LogFile" type="log4net.Appender.FileAppender">
		<file value="./Log4Net.log" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<appendToFile value="true" />
		<layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
		</appender>
		-->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<infragistics.web enableAppStyling="true" styleSetPath="~/ig_res" styleSetName="Default" />
	<system.web>
		<httpRuntime maxRequestLength="2097151" executionTimeout="240000" requestLengthDiskThreshold="2097151" />
		<!-- maxRequestLength="2097151"  14096 igual a 14 MB -->
		<!--
		Set compilation debug="true" to insert debugging
		symbols into the compiled page. Because this
		affects performance, set this value to true only
		during development.
		
		Visual Basic options:
		Set strict="true" to disallow all data type conversions
		where data loss can occur.
		Set explicit="true" to force declaration of all variables.
		-->
		<compilation debug="true" strict="false" explicit="true">
			<assemblies>
				<add assembly="DevExpress.Web.ASPxPivotGrid.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraPivotGrid.v9.1.Core, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Data.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxEditors.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxPivotGrid.v9.1.Export, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraPivotGrid.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Utils.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraEditors.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="DevExpress.XtraCharts.v9.1.Web, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraCharts.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Charts.v9.1.Core, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxGridView.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="DevExpress.Web.ASPxGridView.v9.1.Export, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraPrinting.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<!-- <add assembly="Oracle.DataAccess, Version=2.111.7.20, Culture=neutral, PublicKeyToken=89B483F429C47342"/> -->
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<!-- <add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /> -->
				<add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="PresentationCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<!-- <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /> -->
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
		</compilation>
		<siteMap defaultProvider="MenuSiteMapProvider" enabled="true">
			<providers>
				<add name="DocumentosMigracionMasiva" description="Site Map de Perfil Migracion Masiva" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMigracionMasiva/MigracionMasiva.sitemap" />
				<add name="MenuManual" description="Site Map del Manual en linea" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetManual/MenuManual.sitemap" />
				<add name="InteractivoWeb" description="Site Map del Manual en linea Interactivo" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetManual/ManualInteractivo/InteractivoWeb.sitemap" />
				<add name="MenuSiteMapProvider" description="Site Map de Menu de Navegacion de AlfaNet" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMenu/Menu.sitemap" securityTrimmingEnabled="true" />
				<add name="InicioSiteMapProvider" description="Site Map de Navegacion del menu Inicio" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMenu/Inicio.sitemap" securityTrimmingEnabled="true" />
				<add name="WorkFlowSiteMapProvider" description="Site Map de Navegacion del menu WorkFlow" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMenu/WorkFlow.sitemap" securityTrimmingEnabled="true" />
				<add name="DocumentosSiteMapProvider" description="Site Map de Navegacion del menu Documentos" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMenu/Documentos.sitemap" securityTrimmingEnabled="true" />
				<add name="AdministracionSiteMapProvider" description="Site Map de Navegacion del menu Administracion" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMenu/Administracion.sitemap" securityTrimmingEnabled="true" />
				<add name="ConsultasSiteMapProvider" description="Site Map de Navegacion del menu Consultas" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMenu/Consultas.sitemap" securityTrimmingEnabled="true" />
				<add name="ReportesSiteMapProvider" description="Site Map de Navegacion del menu Reportes" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMenu/Reportes.sitemap" securityTrimmingEnabled="true" />
				<add name="InventarioSiteMapProvider" description="Site Map de Navegacion del menu Inventario" type="System.Web.XmlSiteMapProvider" siteMapFile="~/AlfaNetMenu/Inventarios.sitemap" securityTrimmingEnabled="true" />
			</providers>
		</siteMap>
		<pages validateRequest="false">
			<namespaces>
				<clear />
				<add namespace="System" />
				<add namespace="System.Collections" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Collections.Specialized" />
				<add namespace="System.Configuration" />
				<add namespace="System.Text" />
				<add namespace="System.Text.RegularExpressions" />
				<add namespace="System.Linq" />
				<add namespace="System.Xml.Linq" />
				<add namespace="System.Web" />
				<add namespace="System.Web.Caching" />
				<add namespace="System.Web.SessionState" />
				<add namespace="System.Web.Security" />
				<add namespace="System.Web.Profile" />
				<add namespace="System.Web.UI" />
				<add namespace="System.Web.UI.WebControls" />
				<add namespace="System.Web.UI.WebControls.WebParts" />
				<add namespace="System.Web.UI.HtmlControls" />
			</namespaces>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
		<!--
		La sección <authentication> permite configurar
		el modo de autenticación de seguridad utilizado por
		ASP.NET para identificar a un usuario entrante.
		-->
		<globalization culture="es-CO" fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" uiCulture="es-CO" />
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" />
		</authentication>
		<!--
		La sección <customErrors> permite configurar
		las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
		durante la ejecución de una solicitud. Específicamente,
		permite a los desarrolladores configurar páginas de error html
		que se mostrarán en lugar de un seguimiento de pila de errores.
		-->
		<customErrors defaultRedirect="~/CustomError.aspx" mode="RemoteOnly" />
		<!--
		<customErrors mode="RemoteOnly" defaultRedirect="~/CustomError.aspx">
		<error statusCode="403" redirect="NoAccess.htm" />
		<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		-->
		<!--
		Seccion para la configuracion de las características de la aplicación,
		como cuentas de usuario, funciones y otros valores de configuración.
		Se crean los parametros y la conexion para las caracteristicas de los
		controles de inicio de sesion de Visual Studio 2005
		-->
		<!-- <customErrors mode="Off"/> -->
		<membership>
			<providers>
				<clear />
				<add connectionStringName="ConnStrSQLServer" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,30}$" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<!-- <add connectionStringName="ConnStrSQLServer" applicationName="/" enablePasswordRetrieval="True" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,30}$" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /> -->
				<!-- <add connectionStringName="ConnStrSQLServer" applicationName="/" enablePasswordRetrieval="True" enablePasswordReset="true" requiresQuestionAndAnswer="False" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/> -->
				<!-- <add connectionStringName="OraAspNetConString1" applicationName="/" enablePasswordRetrieval="True" enablePasswordReset="true" requiresQuestionAndAnswer="False" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="OracleMembershipProvider" type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=2.111.5.10, Culture=neutral, PublicKeyToken=89b483f429c47342"/> -->
				<!--
				<add connectionStringName="OraAspNetConString" applicationName="/"
				enablePasswordRetrieval="True" enablePasswordReset="true" requiresQuestionAndAnswer="False"
				requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5"
				minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0"
				passwordAttemptWindow="10" passwordStrengthRegularExpression=""
				name="OracleMembershipProvider" type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=2.111.5.10, Culture=neutral, PublicKeyToken=89b483f429c47342" />
				-->
			</providers>
		</membership>
		<!-- Directorio activo -->
		<!--
		<membership defaultProvider="MyADMembershipProvider">
		<providers>
		
		<add name="MyADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ADConnectionString" connectionUsername="mutualser.org\ldapalfanet" connectionPassword="Mutu4lser2020*" attributeMapUsername="sAMAccountName" />
		</providers>
		</membership>
		-->
		<roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
			<providers>
				<clear />
				<add connectionStringName="ConnStrSQLServer" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<!-- <add connectionStringName="OraAspNetConString1" applicationName="/" name="AspNetOracleRoleProvider" type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=2.111.5.10, Culture=neutral, PublicKeyToken=89b483f429c47342"/> -->
			</providers>
		</roleManager>
		<profile defaultProvider="AspNetSqlProfileProvider">
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" connectionStringName="ConnStrSQLServer" applicationName="/" description="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<!-- <add name="AspNetOracleProfileProvider" connectionStringName="OraAspNetConString1" applicationName="/" description="ORAProfileProvider" type="Oracle.Web.Profile.OracleProfileProvider, Oracle.Web, &#xA;          Version=2.111.7.20, Culture=neutral, PublicKeyToken=89b483f429c47342"/> -->
				<!-- <add name="AspNetOracleProfileProvider" connectionStringName="OraAspNetConString" applicationName="/" description="ORAProfileProvider" type="Devart.Data.Oracle.Web.Providers.OracleProfileProvider"/> -->
			</providers>
			<properties>
				<add name="CodigoDepUsuario" type="string" />
				<add name="NombreDepUsuario" type="string" />
				<add name="NombresUsuario" type="string" />
				<add name="ApellidosUsuario" type="string" />
			</properties>
		</profile>
		<httpHandlers>
			<remove path="*.asmx" verb="*" />
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="ImageGenerator.axd" verb="*" type="Neodynamic.WebControls.ImageDraw.ImageDraw, Neodynamic.WebControls.ImageDraw" />
			<add path="ASPxUploadProgressHandlerPage.ashx" verb="GET" type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<sessionState timeout="400" />
		<!-- <authentication mode="Forms"> -->
		<!-- <forms loginUrl="http://localhost/AlfanetPruebas/AlfaNetInicio/InicioLogin/LoginIniciar.aspx" /> -->
		<!-- </authentication> -->
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="OptionInfer" value="true" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	<!--
	The system.webServer section is required for running ASP.NET AJAX under Internet
	Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="Ficheros odt" path="*.odt" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v9.1, Version=9.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
			<authorization>
				<remove users="*" roles="" verbs="" />
				<add accessType="Allow" users="*" />
			</authorization>
		</security>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".odt" mimeType="application/msword" />
		</staticContent>
		<caching maxResponseSize="362144">
			<profiles>
				<add extension=".aspx" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:02:00" />
			</profiles>
		</caching>
		<!-- <rewrite> -->
			<!-- <rules> -->
				<!-- <rule name="RedirectTo404" stopProcessing="true"> -->
					<!-- <match url="AlfaNetRepositorioImagenes/*" /> -->
					<!-- <conditions> -->
						<!-- <add input="{HTTP_REFERER}" pattern="^http?://localhost/" negate="true" /> -->
					<!-- </conditions> -->
					<!-- <action type="CustomResponse" statusCode="403" statusReason="Not Found" /> -->
				<!-- </rule> -->
			<!-- </rules> -->
		<!-- </rewrite> -->
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp from="alfanetpruebas@gmail.com">
				<network host="smtp.gmail.com" password="gujjqkjimwglgdfa" port="587" userName="alfanet" />
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
