<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow users="*" />
          <deny roles="Inicio" />
			<deny roles="Documentos" />
			<deny roles="Imagenes" />
			<deny roles="Administrador" />
			<deny roles="Reportes" />
			<deny roles="Consultas" />
			<deny roles="WorkFlow" />
      
		</authorization>
    </system.web>
</configuration>