<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
			<deny users="?" />
            <allow roles="Documentos" />
			<deny roles="Imagenes" />
            <allow roles="Administrador" />
            <deny roles="Consultas" />          
            <deny roles="Reportes" />
            <deny roles="WorkFlow" />
			
		</authorization>
    </system.web>
</configuration>